.p-card {
    border-radius: 1rem;
    box-shadow: var(--box-shadow-card);
}

.p-card .p-card-title,
.p-card .p-card-subtitle,
.p-card .p-card-footer,
.p-card .p-card-content {
    padding: 1rem 2rem;
}