.p-inputtext {
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.p-inputtext:enabled:active,
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: var(--primary);
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-faded);
}

.p-inputtext:enabled:invalid,
.p-inputtext:enabled:invalid:focus,
.p-inputtext:enabled:invalid:hover {
    border-color: var(--danger);
    color: var(--danger);
}
