.p-component {
    font-family: 'figtree';
}

/* Input Fields */
.p-inputtext {
    font-family: 'figtree';
    border-radius: 2em;
    padding: 0.5em 1em;
}

.p-inputtextarea {
    border-radius: 1.5em;
    padding: 1em;
    resize: vertical;
    min-height: 100px;
}

.p-inputtext:enabled:active,
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: var(--secondary);
}

.p-inputtext:enabled::placeholder,
.p-inputtext:enabled::placeholder,
.p-inputtext:enabled::placeholder {
    color: var(--gray-400);
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2em var(--secondary-faded);
}

.p-inputtext:enabled:invalid,
.p-inputtext:enabled:invalid:focus,
.p-inputtext:enabled:invalid:hover {
    color: var(--danger);
}

.p-inputtext:disabled {
    background-color: var(--gray-100);
    border-color: var(--gray-100);
    color: var(--gray-700);
}

/* Dropdowns & Multiselects */
.p-dropdown,
.p-multiselect {
    font-family: 'figtree';
    border-radius: 2em;
}

.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover {
    border-color: var(--secondary);
}

.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus {
    border-color: var(--secondary-light-1);
    box-shadow: 0 0 0 0.2em var(--secondary-faded);
}

.p-dropdown .p-dropdown-trigger,
.p-multiselect .p-multiselect-trigger {
    width: 3em;
}

.p-multiselect .p-multiselect-label {
    padding: 0.5em 1em;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-focus.p-highlight,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-focus.p-highlight {
    background-color: var(--secondary-faded);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover {
    background-color: var(--gray-100);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-dropdown-item.p-highlight:hover,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-dropdown-item.p-highlight.p-focus:hover,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-multiselect-item.p-highlight:hover {
    background-color: var(--secondary-faded-2);
}

/* Checkbox */
.p-checkbox .p-checkbox-box.p-highlight {
    background-color: var(--primary);
    border-color: var(--primary);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--primary);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background-color: var(--primary-dark-1);
    border-color: var(--primary-dark-1);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2em var(--primary-faded);
}

.p-radiobutton {
    margin: 0 0.5em 0 0;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: var(--primary);
    border-color: var(--primary);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2em var(--primary-faded);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background-color: var(--primary-dark-1);
    border-color: var(--primary-dark-1);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--primary-dark-1);
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: var(--primary);
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: var(--primary);
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: var(--primary-dark-1);
}

.p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: 0 0 0 0.2em var(--primary-faded);
}