.p-button {
    border-radius: 2rem;
    background: var(--primary);
    border: 1px solid transparent;
    text-align: center;
}
.p-button:enabled:active,
.p-button:enabled:hover {
    background: var(--primary-dark-1);
    border: 1px solid transparent;
}
.p-button:enabled:focus {
    background: var(--primary-light-1);
    box-shadow: 0 0 0 0.2rem var(--primary-faded);
}
.p-button:enabled:hover:focus {
    background: var(--primary-dark-1);
    border: 1px solid var(--primary);
}

.p-button.p-button-danger {
    border-radius: 2rem;
    background: var(--danger);
    border: 1px solid transparent;
}
.p-button.p-button-danger:enabled:active,
.p-button.p-button-danger:enabled:hover {
    background: var(--danger-hover);
    border: 1px solid transparent;
}
.p-button.p-button-danger:enabled:focus {
    background: var(--danger-focus);
    box-shadow: 0 0 0 0.2rem var(--danger-faded);
}
.p-button.p-button-danger:enabled:hover:focus {
    background: var(--danger-hover);
    border: 1px solid var(--danger);
}

.p-button.p-button-secondary, 
.p-button.p-button-secondary * {
    transition-timing-function: ease-out;
}
.p-button.p-button-secondary {
    background: white;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.p-button.p-button-secondary:enabled:active,
.p-button.p-button-secondary:enabled:hover {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
}

.p-button.p-button-secondary:enabled:focus {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
    box-shadow: 0 0 0 0.2rem var(--secondary-faded);
}

.p-button.p-button-secondary:enabled:hover:focus {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
}