/* Primevue Card */
.p-card {
    border-radius: 1rem;
    box-shadow: var(--box-shadow-card);
    overflow: hidden;
}

.p-card.p-major .p-card-title,
.p-card.p-major .p-card-subtitle,
.p-card.p-major .p-card-footer,
.p-card.p-major .p-card-content {
    padding: 1rem 2rem;
}

/* Primevue Dialog */
.p-dialog .p-dialog-header {
    border-bottom: 1px solid var(--gray-100);
    padding: 1rem;
}

.p-dialog .p-dialog-content {
    max-height: 400px;
    padding: 1rem 1.5rem;
}

.p-dialog .p-dialog-footer {
    border-top: 1px solid var(--gray-100);
    padding: 1rem;
}

/* Primevue TabView */
.p-tabview .p-tabview-nav {
    border-bottom: 2px solid var(--gray-100);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    color: var(--gray-500);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: inset 0 0 0 0.2rem var(--primary-faded);
}