:root {
    --body: #172230;

    --primary: #ef7946;
    --primary-dark-1: #d2521b;
    --primary-light-1: #ff8f5f;
    --primary-faded: #ef79464d;
    
    --secondary: #255586;
    --secondary-dark-1: #234364;
    --secondary-light-1: #4C76B6;

    --info: #0288D1;
    --info-hover: #0277BD;
    --info-focus: #01579B;
    --info-faded: #0288D14d;

    --danger: #C62828;
    --danger-hover: #B71C1C;
    --danger-focus: #D32F2F;
    --danger-faded: #d32f2f4d;

    --success: #689F38;
    --success-hover: #33691E;
    --success-focus: #558B2F;
    --success-faded: #689f384d;

    --warning: #FBC02D;
    --warning-hover: #F57F17;
    --warning-focus: #F9A825;
    --warning-faded: #fbc02d4d;

    --background: #f9eee9;

    --white: #FFFFFF;
    --gray-100: #ECECEF;
    --gray-150: #E3E6E9;
    --gray-200: #D9DDE1;
    --gray-250: #CED4DA;
    --gray-300: #C3CAD2;
    --gray-350: #AEB6BF;
    --gray-400: #A3AAB1;
    --gray-450: #9BA2AA;
    --gray-500: #6C757D;
    --gray-550: #495057;
    --gray-600: #414852;
    --gray-650: #3c434b;
    --gray-700: #3a4048;
    --gray-750: #30353c;
    --gray-800: #2c3238;
    --gray-850: #2a2e34;
    --gray-900: #212529;
    --gray-950: #1c2125;
}