@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@import url('./assets/style/style-colors.css');
/* Primevue Custom Styling */
@import url('./assets/style/primevue-button.css');
@import url('./assets/style/primevue-input.css');
@import url('./assets/style/primevue-components.css');

body {
    margin: 0px;
    font-family: 'Figtree', cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.25px;
    background-color: var(--gray-100);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Figtree', cursive;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.25px;
    margin: 0 0 .5rem 0; 
}

* > h1:not(:first-child), * > h2:not(:first-child), * > h3:not(:first-child), * > h4:not(:first-child), * > h5:not(:first-child), * > h6:not(:first-child) {
    margin-top: 1rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.25rem; font-weight: 500; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

label {
    font-size: 14px;
}

.stack {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
}

.img-fit {
    object-fit: cover;
}

a:has(.p-button) {
    text-decoration: none;
}

.labelInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

#app {
    display: grid;
    grid-template-columns: 220px 1fr;
}

#content {
    display: flex;
    align-items: top;
    padding-top: 1rem;
    justify-content: center;
    height: calc(100vh);
    overflow-y: auto;
    grid-column: 2;
}

#nav_mobile {
    display: none;
}

#menu_toggle {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.5rem;
    height: 3.5rem;
    z-index: 100;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 1rem;
    color: white;
    opacity:100;
    transition: all .3s ease;
}

#menu_toggle.hidden {
    opacity: 0;
    bottom: -4rem;
}

.tablet-show {
    display: none !important;
}

@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
    }

    #content {
        border-radius: 0;
        grid-column: 1;
        padding-top: 0;
    }

    #nav_sidebar {
        display: none;
    }

    #nav_mobile {
        display: inherit;
    }

    .tablet-hide {
        display: none !important;
    }

    .tablet-show {
        display: initial !important;
    }
}